[submodule "26062-大竹"]
	path = 26062-大竹
	url = https://github.com/ckg26062/javascript.git
[submodule "26010-岩切"]
	path = 26010-岩切
	url = https://github.com/Ckg26010/javascript.git
[submodule "26088-田中"]
	path = 26088-田中
	url = https://github.com/ckg26088-web/javascripd.git
[submodule "26082-佐藤"]
	path = 26082-佐藤
	url = https://github.com/ckg26082-ai/javascript.git
[submodule "近藤夕璃捺"]
	path = 26030-近藤夕璃捺
	url = https://github.com/ckg26030-commits/javascript.git
[submodule "26052-堤"]
	path = 26052-堤
	url = https://github.com/tennsi26052/javascript.git
[submodule "26025-重本"]
	path = 26025-重本
	url = https://github.com/ckg26025-cloud/javascript.git
[submodule "26027-黒川柑南"]
	path = 26027-黒川柑南
	url = https://github.com/ckg26027/Javascript.git
[submodule "26028-黒川杏南"]
	path = 26028-黒川杏南
	url = https://github.com/ckg26028/JavaScript.git
[submodule "26059-東紫苑"]
	path = 26059-東紫苑
	url = https://github.com/ckg26059/javascript.git
[submodule "26008-桑原"]
	path = 26008-桑原
	url = https://github.com/ckg26008/javascript.git
